<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%=title%></title>
	<link rel="stylesheet" href="./style/main.css">
	<script src="./js/jquery.min.js"></script>
	<script src="./js/main.js"></script>
	<script src="./js/articleList.js"></script>
</head>
<body>
	<!--头部导航-->
	<div class="header">
		<img src="./images/photo/logo.png" alt="">
		<div class="nav">
			<ul>
				<li id="sy">首页</li>
				<li id="wz" class="fontColor1">文章</li>
				<li id="tp">图片</li>
				<li id="yy">音乐</li>
				<li id="dy">电影</li>
				<li id="lyb">留言板</li>
				<!-- <li id="log" class="log">登录</li> -->
			</ul>
		</div>
	</div>
	<!--海报-->
	<div class="poster margin98">
		<img src="./images/photo/articleListBig.jpg" alt="">
	</div>
	<!--主体内容部分-->
	<div class="recomend">
		<p class="bigTitle"><span class="fontColor1">文章列表</span></p>
		<div class="listWrap">
<!-- 			<div class="articalList">
				<h3 class="articleTitle">匆匆那些年，我们在这里相遇。</h3>
				<div class="content">
					<img src="./images/photo/square.jpeg" alt="">
					<p class="textInfo">走过岁月我才发现世界多不完美，成功或失败都有一些错觉，沧海有多广，江湖有多深，局中人才了解。走过岁月我才发现世界多不完美，成功或失败都有一些错觉，沧海有多广，江湖有多深，局中人才了解。走过岁月我才发现世界多不完美，成功或失败都有一些错觉，沧海有多广，江湖有多深，局中人才了解。</p>
					<p class="ydqw">阅读全文>></p>
				</div>
				<div class="markInfo">
					<span class="time">2016-12-21</span>
					<span>作者:<span class="name">一泓清泉</span></span>
				</div>
			</div> -->			
		</div>
		<div class="rightSection">
			<h3 class="rhesis">名言警句</h3>
			<img src="./images/photo/rhesis2.jpg" alt="">
		</div>
	</div>
	<!--底部-->
	<div class="footer">
		该博客由一泓清泉倾情提供
	</div>
</body>
</html>