<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%=title%></title>
	<link rel="stylesheet" href="./style/main.css">
	<script src="./js/jquery.min.js"></script>
	<script src="./js/main.js"></script>
</head>
<body>
	<!--头部导航-->
	<div class="header">
		<img src="./images/photo/logo.png" alt="">
		<div class="nav">
			<ul>
				<li id="sy" class="fontColor1">首页</li>
				<li id="wz">文章</li>
				<li id="tp">图片</li>
				<li id="yy">音乐</li>
				<li id="dy">电影</li>
				<li id="lyb">留言板</li>
				<li id="log" class="log">登录</li>
				<li id="name" class="name"></li>
			</ul>
		</div>
	</div>