<% include indexHeader.html %> 
	<!--海报-->
	<div class="poster margin98">
		<img src="./images/photo/poster.jpg" alt="">
		<p class="text">
		<span class="text1">昂首，问候天空，伸指弹去满天尘埃，扯云朵拭亮太阳。</span>
		<span class="text2">从今起，这万里长空将是我镶着太阳的湛蓝桂冠。</span></p>
	</div>
	<!--主体内容部分-->
	<div class="recomend">
		<p class="bigTitle"><span class="fontColor1">推荐</span></p>
		<div class="articalList">
			<!--文章推荐-->
			<div class="articleRecomend">		
			</div>
			<!--图片推荐-->
			<div id="imgRecomend" class="imgRecomend">
				<ul></ul>
			</div>
			<!--音乐推荐-->
			<div id="musicRecomend" class="imgRecomend">
				<ul></ul>
			</div>
			<!--电影推荐-->
			<div id="movieRecomend" class="imgRecomend">
				<ul></ul>
			</div>
		</div>
		<div class="rightSection">
			<h3 class="rhesis">名言警句</h3>
			<img src="./images/photo/rhesis1.jpg" alt="">
		</div>
	</div>
	<script src="./js/home.js"></script>
	<!--底部-->
	<div class="footer">
		该博客由一泓清泉倾情提供
	</div>
	<!--点击登录按钮的弹层-->
	<div id="syLog" class="layer">
		<div class="container">
			<div class="top">
				<span>一泓清泉的博客</span>
				<img id="close" src="./images/icon/close.png" alt="">
			</div>
			<div class="center">
				<p>
					<span>用户名:</span>
					<input id="user0" type="text" placeholder="请输入您的用户名">					
				</p>
				<p>
					<span>密&nbsp; &nbsp;码:</span>
					<input id="password0" type="password" placeholder="请输入您的密码">					
				</p>
			</div>
			<div class="bottom">
				<span id="register">注册账号</span>
				<span id="logIn">登&nbsp; &nbsp;录</span>
			</div>
		</div>
	</div>
	<!--点击注册按钮的弹层-->
	<div id="syRegister" class="layer">
		<div class="container">
			<div class="top">
				<span>一泓清泉的博客</span>
				<img id="close2" src="./images/icon/close.png" alt="">
			</div>
			<div class="center">
				<p>
					<span>用户名:</span>
					<input id="user" type="text" placeholder="请输入您的用户名">					
				</p>
				<p>
					<span>密&nbsp; &nbsp;码:</span>
					<input id="password" type="password" placeholder="请输入您的密码">					
				</p>
			</div>
			<div class="bottom">
				<span id="register2">注册账号</span>
			</div>
		</div>
	</div>
</body>
</html>