<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%=title%></title>
	<link rel="stylesheet" href="./style/main.css">
	<script src="./js/jquery.min.js"></script>
	<script src="./js/main.js"></script>
</head>
<body>
	<!--头部导航-->
	<div class="header">
		<img src="./images/photo/logo.png" alt="">
		<div class="nav">
			<ul>
				<li id="sy">首页</li>
				<li id="wz">文章</li>
				<li id="tp">图片</li>
				<li id="yy">音乐</li>
				<li id="dy">电影</li>
				<li id="lyb" class="fontColor1">留言板</li>
				<!-- <li id="log" class="log">登录</li> -->
			</ul>
		</div>
	</div>
	<!--海报-->
	<div class="poster margin98">
		<img src="./images/photo/messageBig.jpg" alt="">
	</div>
	<!--主体内容部分-->
	<div class="recomend">
		<p class="bigTitle"><span class="fontColor1">留言板</span></p>
		<div class="articalList">
			<ul class="imgList messageBoard">
				<li>
					<img src="./images/photo/headImg.jpg" alt="">
					<p class="messageText">
						<span class="messageName">一泓清泉</span>
						<span class="messageInfo">时间的过客，匆匆路过！已在用博主的模板学习，感谢博主的分享！！</span>
						<span class="messageTime">2016/12/22</span>
						<span class="zan">顶(<span>15</span>)</span>
					</p>
				</li>
				<li class="comment">
					<textarea name="" id="" cols="30" rows="10" placeholder="说点什么吧。。。"></textarea>
					<button>发布</button>
				</li>
			</ul>
		</div>
		<div class="rightSection">
			<h3 class="rhesis">名言警句</h3>
			<img src="./images/photo/rhesis4.jpg" alt="">
		</div>
	</div>
	<!--底部-->
	<div class="footer">
		该博客由一泓清泉倾情提供
	</div>
</body>
</html>