<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%=title%></title>
	<link rel="stylesheet" href="./style/main.css">
	<script src="./js/jquery.min.js"></script>
	<script src="./js/main.js"></script>
	<script src="./js/movieList.js"></script>
</head>
<body>
	<!--头部导航-->
	<div class="header">
		<img src="./images/photo/logo.png" alt="">
		<div class="nav">
			<ul>
				<li id="sy">首页</li>
				<li id="wz">文章</li>
				<li id="tp">图片</li>
				<li id="yy">音乐</li>
				<li id="dy" class="fontColor1">电影</li>
				<li id="lyb">留言板</li>
				<!-- <li id="log" class="log">登录</li> -->
			</ul>
		</div>
	</div>
	<!--海报-->
	<div class="poster margin98">
		<img src="./images/photo/movieListBig.jpg" alt="">
	</div>
	<!--主体内容部分-->
	<div class="recomend">
		<p class="bigTitle"><span class="fontColor1">电影列表</span></p>
		<div class="articalList">
			<!-- <h3 class="musicTitile">爱情</h3> -->
			<ul class="imgList musicList fontColor2">
				<!-- <li>三傻大闹宝莱坞</li> -->
			</ul>
		</div>
		<div class="rightSection">
			<h3 class="rhesis">名言警句</h3>
			<img src="./images/photo/rhesis5.jpg" alt="">
		</div>
	</div>
	<!--底部-->
	<div class="footer">
		该博客由一泓清泉倾情提供
	</div>
</body>
</html>